* {
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 1.1em;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content; }

body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

h1,
h2 {
  color: #2056a6;
  margin: 0;
  font-weight: 600; }

p,
li {
  font-weight: 500; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: calc(100vh - 50px); }
  .content .welcome-screen,
  .content .login-form {
    height: 445px;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .content .welcome-screen,
  .content .login-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
  .content .login-form {
    max-width: 400px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content; }

@media (max-width: 1024px) {
  .content .welcome-screen,
  .content .login-form {
    padding: 30px 15px; } }

@media (max-width: 768px) {
  html {
    font-size: 0.9em; }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding: 25px;
    margin-bottom: 90px; }
    .content .welcome-screen,
    .content .login-form {
      width: 80%;
      max-width: unset;
      padding: 30px; }
    .content .welcome-screen {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

@media (max-height: 420px) {
  .content {
    margin-bottom: 60px; } }

.standard-login .login-form {
  position: relative;
  padding: 0 35px 50px 35px;
  height: 530px; }
  .standard-login .login-form form {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 20px 0; }
  .standard-login .login-form .form-footer {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(97, 214, 226, 0.5);
    font-size: 0.8em;
    height: 50px;
    text-align: center;
    padding: 15px 0; }
    .standard-login .login-form .form-footer span, .standard-login .login-form .form-footer a {
      color: #2056a6; }
    .standard-login .login-form .form-footer a {
      font-weight: 600; }

@media (max-width: 768px) {
  .standard-login {
    margin-bottom: 50px; }
    .standard-login .login-form {
      max-width: 500px;
      width: 100%;
      padding: 0 15px 50px 15px; } }

.first-login .welcome-screen,
.first-login .login-form {
  padding: 20px 35px;
  min-height: 485px; }

.login-form form .checkbox-field > label {
  padding-top: 0; }

.welcome-screen {
  max-width: 800px; }
  .welcome-screen p {
    margin-top: 0; }
  .welcome-screen .list-wrapper {
    padding: 25px 0px; }
    .welcome-screen .list-wrapper ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 100%; }
      .welcome-screen .list-wrapper ul li {
        color: #2056a6;
        margin: 10px 0 35px 35px;
        position: relative; }
        .welcome-screen .list-wrapper ul li:before {
          content: '';
          position: absolute;
          top: -15px;
          right: auto;
          bottom: auto;
          left: -60px;
          width: 50px;
          height: 50px;
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain; }
        .welcome-screen .list-wrapper ul li.service:before {
          background-image: url("../images/list1.svg"); }
        .welcome-screen .list-wrapper ul li.personalization:before {
          background-image: url("../images/list2.svg"); }
        .welcome-screen .list-wrapper ul li.security:before {
          background-image: url("../images/list3.svg"); }

@media (max-width: 1024px) {
  .content .welcome-screen,
  .content .first-login-form {
    padding: 15px; }
  .content .welcome-screen .list-wrapper ul {
    margin: 0; }
    .content .welcome-screen .list-wrapper ul li {
      margin: 20px 0 30px 35px; } }

@media (max-width: 768px) {
  .first-login .welcome-screen,
  .first-login .login-form {
    padding: 20px; }
  .first-login .welcome-screen .list-wrapper ul li {
    margin: 25px 0 25px 25px; }
  .first-login .login-form {
    height: 400px; }
    .first-login .login-form form {
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

@media (max-width: 480px) {
  .first-login .welcome-screen,
  .first-login .login-form {
    width: 100%; }
  .first-login .welcome-screen .list-wrapper {
    padding: 0; }
    .first-login .welcome-screen .list-wrapper ul li {
      margin: 15px 0 15px 15px; } }

@media (max-height: 420px) {
  .first-login .login-form {
    padding: 35px 15px; }
    .first-login .login-form h2 {
      padding: 0 20px; } }

.forgot-password .login-form {
  padding: 35px;
  height: 390px; }
  .forgot-password .login-form.message-sent {
    padding: 0 35px;
    height: 250px; }
    .forgot-password .login-form.message-sent form {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .forgot-password .login-form.message-sent form ul {
        padding-left: 0; }

@media (max-width: 480px) {
  .forgot-password .login-form {
    width: 100%;
    padding: 35px 15px; } }

.content .reset-password-done,
.content .reset-password-complete {
  min-height: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 420px; }
  .content .reset-password-done form,
  .content .reset-password-complete form {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }

.content .reset-password-complete {
  height: 280px !important;
  height: unset; }

.content > .error {
  min-height: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 500px;
  min-width: 250px; }

form {
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  form p {
    margin: 0; }
  form fieldset {
    border: none;
    padding: 0;
    position: relative; }
    form fieldset label,
    form fieldset input {
      font-size: 16px; }
    form fieldset label {
      display: block;
      color: #2056a6;
      font-weight: 600;
      padding: 10px 0; }
    form fieldset input[type=password],
    form fieldset input[type=text],
    form fieldset input[type=email] {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      outline: none;
      border-color: rgba(97, 214, 226, 0.3);
      background-color: rgba(97, 214, 226, 0.15);
      padding: 0 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-style: solid; }
      form fieldset input[type=password]:focus,
      form fieldset input[type=text]:focus,
      form fieldset input[type=email]:focus {
        color: #8bb0c1;
        border-color: #61d6e2;
        background-color: rgba(97, 214, 226, 0.05); }
      form fieldset input[type=password]::-webkit-input-placeholder,
      form fieldset input[type=text]::-webkit-input-placeholder,
      form fieldset input[type=email]::-webkit-input-placeholder {
        color: #8bb0c1;
        font-size: 0.9em; }
      form fieldset input[type=password]::-ms-input-placeholder,
      form fieldset input[type=text]::-ms-input-placeholder,
      form fieldset input[type=email]::-ms-input-placeholder {
        color: #8bb0c1;
        font-size: 0.9em; }
      form fieldset input[type=password]::placeholder,
      form fieldset input[type=text]::placeholder,
      form fieldset input[type=email]::placeholder {
        color: #8bb0c1;
        font-size: 0.9em; }
    form fieldset .password-toggler {
      position: absolute;
      top: auto;
      right: 10px;
      bottom: 7px;
      left: auto;
      width: 25px;
      height: 25px; }
      form fieldset .password-toggler img {
        width: 100%;
        height: auto; }
  form .validator, form ul.messages, form .messages {
    margin-top: -15px;
    font-size: 0.8em;
    text-align: center;
    color: red; }
  form ul.messages {
    padding: 0; }
  form button {
    position: relative;
    font-size: 1em;
    background-color: #61d6e2;
    color: white;
    font-weight: 600;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: left;
    padding: 0 20px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif; }
    form button:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer; }
    form button .arrow-right {
      position: absolute;
      top: 6px;
      right: 8px;
      bottom: auto;
      left: auto;
      width: 30px; }
      form button .arrow-right img {
        width: 100%;
        height: auto; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .checkbox .label-checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: inline-block; }
    .checkbox .label-checkbox .invisible {
      position: absolute;
      z-index: -1;
      opacity: 0; }
    .checkbox .label-checkbox .checkbox {
      position: relative;
      top: 2px;
      float: left;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border: 2px solid #C8CCD4;
      border-radius: 3px; }
      .checkbox .label-checkbox .checkbox:hover {
        border-color: #20C2E0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .checkbox .label-checkbox .checkbox svg {
        position: absolute;
        top: -2px;
        right: auto;
        bottom: auto;
        left: -2px;
        width: 20px;
        height: 20px; }
        .checkbox .label-checkbox .checkbox svg path, .checkbox .label-checkbox .checkbox svg polyline {
          fill: none;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round; }
        .checkbox .label-checkbox .checkbox svg path {
          stroke: #20C2E0;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .checkbox .label-checkbox .checkbox svg polyline {
          stroke: #FFF;
          stroke-dasharray: 18px;
          stroke-dashoffset: 18px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
  .checkbox .checkbox-desc {
    padding-left: 5px;
    font-size: 0.8em; }
    .checkbox .checkbox-desc a {
      color: black;
      text-decoration: underline;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .checkbox .checkbox-desc a:hover {
        color: #2056a6;
        -webkit-text-decoration-color: #2056a6;
        text-decoration-color: #2056a6; }

.label-checkbox input:checked + .checkbox {
  border-color: #20C2E0; }

.label-checkbox input:checked + .checkbox svg path {
  fill: #20C2E0; }

.label-checkbox input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0; }

.label-checkbox:hover .checkbox svg path {
  stroke-dashoffset: 0; }

.footer {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: #091d35;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer .logo-container,
  .footer .footer-links {
    display: inline-block;
    font-size: 12px; }
  .footer .logo-container {
    color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .logo-container img {
      width: auto;
      height: 25px;
      position: relative;
      top: -5px; }
    .footer .logo-container .version {
      padding-left: 5px; }
  .footer .footer-links {
    float: right; }
    .footer .footer-links span,
    .footer .footer-links a {
      color: #b3b3b3;
      margin-left: 10px; }
    .footer .footer-links a {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .footer .footer-links a:hover {
        color: #e6e6e6; }

@media (max-width: 768px) {
  .footer {
    height: 90px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 20px 0; }
    .footer .footer-links {
      font-size: 11px; } }
