<!Doctype html >
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Join">
  <meta property="og:title" content="Join">
  <meta property="og:description" content="Join">
  <meta property="og:url" content="/">
  <meta property="og:type" content="website" />
  <meta name="author" content="Cledar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  {% load static %}-->
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
  <title>
    Welcome to Join!
  </title>
</head>

<body>
<!--{% load sig_extras %}-->
<!--{% define next as code %}-->

  <div class="content first-login">

    <div class="login-form reset-password-done">

      <h2>Password reset sent</h2>
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your
        spam folder.</p>

    </div>
  </div>

<div class="footer">
  <div class="logo-container">
    <span>POWERED BY</span>
    <img src="images/join-logo_white.svg" alt="JOIN">
    <span class="version">v1.0.0</span>
  </div>
  <div class="footer-links">
    <span>ⓒ <script>document.write(new Date().getFullYear())</script> Join Digital Inc.</span>
    <a href="https://get-join.com/legal/terms-of-use" target="_blank">Terms of Use</a>
    <a href="https://get-join.com/legal/privacy-policy" target="_blank">Privacy Policy</a>
  </div>
</div>
</body>
