.first-login {
  .welcome-screen,
  .login-form {
    padding: 20px 35px;
    min-height: 485px;
  }
}

.login-form {
  form {
    .checkbox-field {
      > label {
        padding-top: 0;
      }
    }
  }
}

.welcome-screen {
  max-width: 800px;

  p {
    margin-top: 0;
  }

  .list-wrapper {
    padding: 25px 0px;
    ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;

      li {
        color: $mid-blue;
        margin: 10px 0 35px 35px;
        position: relative;

        &:before {
          content: '';
          @include absolute(-15px,
                  auto,
                  auto,
                  -60px);
          @include size(50px,
                  50px);
          background-repeat: no-repeat;
          background-position: left;
          background-size: contain;
        }

        &.service {
          &:before {
            background-image: url("../images/list1.svg");
          }
        }

        &.personalization {
          &:before {
            background-image: url("../images/list2.svg");
          }
        }

        &.security {
          &:before {
            background-image: url("../images/list3.svg");
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .content {
    .welcome-screen,
    .first-login-form {
      padding: 15px;
    }
    .welcome-screen {
      .list-wrapper {
        ul {
          margin: 0;
          li {
            margin: 20px 0 30px 35px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .first-login {
    .welcome-screen,
    .login-form {
      padding: 20px;
    }
    .welcome-screen {
      .list-wrapper {
        //padding: 0;
        ul {
          li {
            margin: 25px 0 25px 25px;
          }
        }
      }
    }

    .login-form {
      height: 400px;

      form {
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: 480px) {
  .first-login {
    .welcome-screen,
    .login-form {
      width: 100%;
    }

    .welcome-screen {
      .list-wrapper {
        padding: 0;
        ul {
          li {
            margin: 15px 0 15px 15px;
          }
        }
      }
    }
  }
}

@media (max-height: 420px) {
  .first-login {
    .login-form {
      padding: 35px 15px;

      h2 {
        padding: 0 20px;
      }
    }
  }
}
