.footer {
  @include absolute(auto, 0, 0, 0);
  height: 60px;
  background-color: $dark-blue;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  .logo-container,
  .footer-links {
    display: inline-block;
    font-size: 12px;
  }
  .logo-container {
    color: white;
    position: relative;
    display: flex;
    img {
      @include size(auto, 25px);
      position: relative;
      top: -5px;
    }
    .version {
      padding-left: 5px;
    }
  }
  .footer-links {
    float: right;
    span,
    a {
      color: $min-grey;
      margin-left: 10px;
    }
    a {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: lighten($min-grey, 20%);
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    height: 90px;
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px 0;
    .footer-links {
      font-size: 11px;
    }
  }
}
