.forgot-password {
  .login-form {
    padding: 35px;
    height: 390px;
    &.message-sent {
      padding: 0 35px;
      height: 250px;
      form {
        justify-content: center;
        ul {
          padding-left: 0;
        }
      } 
    }
  }
}

@media (max-width: 480px) {
  .forgot-password {
    .login-form {
      width: 100%;
      padding: 35px 15px;
    }
  }
}