
form {
  height: 100%;
  justify-content: space-between;
  p {
    margin: 0;
  }
  fieldset {
    border: none;
    padding: 0;
    position: relative;
    label,
    input {
      font-size: 16px;
    }
    label {
      display: block;
      color: $mid-blue;
      font-weight: 600;
      padding: 10px 0;
    }
    input[type=password],
    input[type=text],
    input[type=email] {
      @include size(100%, 40px);
      border-radius: 8px;
      outline: none;
      border-color: rgba($aqua, 0.3);
      background-color: rgba($aqua, 0.15);
      padding: 0 20px;
      box-sizing: border-box;
      border-style: solid;
      &:focus {
        color: $slate-blue;
        border-color: $aqua;
        background-color: rgba($aqua, 0.05);
      }
      &::placeholder {
        color: $slate-blue;
        font-size: 0.9em;
      }
    }
    .password-toggler {
      @include absolute(auto, 10px, 7px, auto);
      @include size(25px, 25px);
      img {
        @include size(100%, auto);
      }
    }
  }
  .validator, ul.messages, .messages {
    margin-top: -15px;
    font-size: 0.8em;
    text-align: center;
    color: red;
  }
  ul.messages {
    padding: 0;
  }
  button {
    position: relative;
    font-size: 1em;
    background-color: $aqua;
    color: white;
    font-weight: 600;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: left;
    padding: 0 20px;
    transition: all 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    .arrow-right {
      @include absolute(6px,
      8px,
      auto,
      auto);
      width: 30px;
      img {
        @include size(100%,
        auto);
      }
    }
  }
}

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  .label-checkbox {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
    @include size(20px, 20px);
    display: inline-block;
    .invisible {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .checkbox {
      position: relative;
      top: 2px;
      float: left;
      margin-right: 8px;
      @include size(20px, 20px);
      border: 2px solid #C8CCD4;
      border-radius: 3px;
      &:hover {
        border-color: #20C2E0;
        transition: all 0.4s ease;
      }
      svg {
        @include absolute(-2px, auto, auto, -2px);
        @include size(20px, 20px);
        path, polyline {
          fill: none;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round; 
        }
        path {
          stroke: #20C2E0;
          stroke-dasharray: 71px;
          stroke-dashoffset: 71px;
          transition: all 0.5s ease;
        }
        polyline {
          stroke: #FFF;
          stroke-dasharray: 18px;
          stroke-dashoffset: 18px;
          transition: all 0.3s ease;
        }
      }

    }
  }
  .checkbox-desc {
    padding-left: 5px;
    font-size: 0.8em;
    a {
      color: black;
      text-decoration: underline;
      transition: all 0.3s ease;
      &:hover {
        color: $mid-blue;
        text-decoration-color: $mid-blue;
      }
    }
  }
}

.label-checkbox input:checked + .checkbox {
  border-color: #20C2E0;
}
.label-checkbox input:checked + .checkbox svg path {
  fill: #20C2E0;
}
.label-checkbox input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-checkbox:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
