@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

* {
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  min-height: fit-content;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1,
h2 {
  color: $mid-blue;
  margin: 0;
  font-weight: 600;
}

p,
li {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}



.content {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  height: calc(100vh - 50px);
  .welcome-screen,
  .login-form {
    height: 445px;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
    box-sizing: border-box;
  }
  .welcome-screen,
  .login-form form {
    display: flex;
    flex-flow: column nowrap;
  }
  .login-form {
    max-width: 400px;
    min-height: fit-content;
  }

}

@media (max-width: 1024px) {
  .content {
    .welcome-screen,
    .login-form {
      padding: 30px 15px;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 0.9em;
  }
  .content {
    flex-flow: column nowrap;
    padding: 25px;
    margin-bottom: 90px;
    .welcome-screen,
    .login-form {
      width: 80%;
      max-width: unset;
      padding: 30px;
    }
    .welcome-screen {
      justify-content: space-evenly;
    }
  }
}

@media (max-height: 420px) {
  .content {
    margin-bottom: 60px;
  }
}
