.content {
  .reset-password-done,
  .reset-password-complete {
    min-height: 280px;
    height: fit-content;
    max-width: 420px;
    form {
      justify-content: space-evenly;
    }
  }
  .reset-password-complete {
    height: 280px !important;
    height: unset;
  }  
}

