.standard-login {
  .login-form {
    position: relative;
    padding: 0 35px 50px 35px;
    height: 530px;
    form {
      justify-content: space-evenly;
      padding: 20px 0;
    }
    .form-footer {
      @include absolute(auto, 0, 0, 0);
      background-color: rgba($aqua, 0.5);
      font-size: 0.8em;
      height: 50px;
      text-align: center;
      padding: 15px 0;
      span, a {
        color: $mid-blue;
      }
      a {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 768px) {
  .standard-login {
    margin-bottom: 50px;
    .login-form {
      max-width: 500px;
      width: 100%;
      padding: 0 15px 50px 15px;
    }
  }
}

@media (max-width: 480px) {
  .standard-login {
    // margin-bottom: 50;
  }
}
